// --- Profile card ---
.profile-card{
  &.mdl-card {
    width: 100%;
    max-width: 550px;
  }

  & > .mdl-card__title {
    padding: 1em;
    background-color: $card-header-background;
    min-height: 128px;

    &>.mdl-card__title-text {
      color: $card-title-color;
    }
    img.avatar {
      border-radius: 50%;
      height: auto;
      padding: 10px;
      max-width: 128px;
      transition: all 150ms ease-in-out;
      margin-bottom: -63px;
      margin-right: 25px;
      &:hover {
        border-radius: 10%;
        padding: 10px;
      }
    } // end avatar
  }

  & > .mdl-card__supporting-text {

    .profile-location {

        min-height: 30px;
        margin-bottom: 24px;
        margin-left: 173px;
        color: $card-header-background;
    }

    .profile-details {
      list-style-type: none;
      margin-bottom: 8px;
      font-weight:800;
      li {
        display: inline-block;
        width: 33.33333%;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
