
.search-users {
  background: #fff;
  max-width: 350px;
  min-height: 600px;
  .header {
    padding: 1em;
    background-color: $card-header-background;
    color: $card-title-color;
  }
  .mdl-list__item.active {
    background-color: $active-background;
    transition: all 150ms ease-in-out;
  }
}
