@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600);

$titillium :'Titillium Web', sans-serif;
$primary-color:#1a4e8e;

$blue-gray-dark: #37474F;
$blue-gray-light: #CFD8DC;
$blue-gray-very-light:#ECEFF1;


$body-background: $blue-gray-very-light;
$card-header-background: $blue-gray-dark;
$card-title-color: $blue-gray-light;
$active-background: $blue-gray-very-light;


body {
    background: $body-background;
    font-family: $titillium;
    font-weight: 400;
    #app {
      max-width: 950px;
      margin: auto;
    }
}

@import "profile";
@import "search-users";

.scroll {
  max-height: 500px;
  overflow: auto;
}
